<% if @topic.errors.any? %>
	<ul>
		<% @topic.errors.full_messages.each do |msg| %>
			<li><%= msg %></li> 
		<% end %>
	</ul>
<% end %>

<div class="form-group">
	<div class="file-field">
		<%= file_field_tag "images[]" , :type => :file %>
	</div>
	<br>
	<span id="new_file" class="btn btn-warning">More File</span>
</div>
<div class="form-group">
	<%= f.label :draft , "Draft" %>
	<%= f.check_box :draft, {}, 'true' , 'false' %>
</div>
<div class="form-group">
	<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>
<div class="form-group">
	<%= f.label :title , "Title : " %>
	<%= f.text_field :title , :class => "form-control" %>
</div>
	<%= f.label :t_content , "Content : " %>
	<%= f.text_area :t_content , :rows => "20" , :class => "form-control" %>
<div class="form-group">
	<%= f.hidden_field :user_id , :value => @user.id %>
</div>
	<%= f.submit :class => "btn btn-success" %>


<script>
	$(document).ready(function(){
		$('#new_file').click(function(){
			$('.file-field').append('<%= file_field_tag "images[]" , :type => :file %>');
		});
	});	
</script>