<% if @topic.errors.any? %>
	<ul>
		<% @topic.errors.full_messages.each do |msg| %>
			<li><%= msg %></li> 
		<% end %>
	</ul>
<% end %>

<%= f.label :tital , "Title : " %>
<%= f.text_field :tital , :class => "form-control" %>
<%= f.label :t_content , "Content : " %>
<%= f.text_area :t_content , :rows => "25" , :class => "form-control" %>
<%= f.hidden_field :t_time , :value => Time.now %>
<%= f.hidden_field :user_id , :value => @user.id %>
<br>
<%= f.submit :class => "btn btn-success pull-left" %>