<div class="container">
	<h2>Hello! <%= @user.email %></h2>

	<%= link_to "Back To List" , topics_path , :class => "btn btn-primary pull-right" %>
	<div class="clearfix"></div>

	<%= form_for @user , :url => profile_topics_path do |f| %>
		<div class="form-group">
			<%= f.label :nickname , "NickName : " %>
			<%= f.text_field :nickname %>
		</div>
		<p>You had <%= @user.topics.count %> Topics</p>
		<p>You already reply <%= @user.comments.count %> comments</p>
		<%= f.submit :class => "btn btn-success pull-right" %>
	<% end %>
	
	<% @topics.each do |t| %>
		<%= form_for t , :url => "" do |f| %>
			<div class="form-group">
				<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
			</div>
			<div class="form-group">
				<%= f.label :title , "Title : " %>
				<%= f.text_field :title , :class => "form-control" %>
			</div>
				<%= f.label :t_content , "Content : " %>
				<%= f.text_area :t_content , :rows => "20" , :class => "form-control" %>
			<div class="form-group">
				<%= f.hidden_field :t_time , :value => Time.now %>
				<%= f.hidden_field :user_id , :value => @user.id %>
			</div>
		<% end %>
	<% end %>

	<% @comments.each do |c| %>
		<%= form_for c , :url => "" do |f| %>
			<%= f.label :c_content , "Content : " %>
			<%= f.text_area :c_content , :rows => "20" , :class => "form-control" %>
			<%= f.hidden_field :user_id , :value => @user.id %>
		<% end %>
	<% end %>

</div>
