<% if @comment.errors.any? %>
	<ul>
		<% @comment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= f.label :c_content , "Content : " %>
<%= f.text_area :c_content , :rows => "20" , :class => "form-control" %>
<%= f.hidden_field :user_id , :value => @user.id %>

<br>
<%= f.submit :class => "btn btn-success pull-left" %>

